.back{
	position: absolute;
	left: 20px;
	top: 400px;
	font-family: 'Crimson Text', serif
	font-size: 20px;
	color: rgb(164,25,15);
}

.ted{
	position: absolute;
	left: 20px;
	top: 50px;
	width: 400px;
	font-family: 'Crimson Text', serif;
	font-size:30px;
	text-align: left;
	color: black;
}

.box1{ 
	background-color: black;
	width: 7px;
	height: 580px;
	position: absolute;
	top: -25px;  
	left: 210px;
	transform: rotate(45deg);
 }

.s2{
	position: absolute;
	color: rgb(164,25,15);
	left: 20px;
	top: 34px;
	width: 400px;
	font-family: 'Raleway', serif;
	font-size: 129px;
	text-align: left;
	opacity: 40deg;
	font-weight: bold;
}

.sylvia{
	position: absolute;
	left: 600px;
	top: 50px;
	width: 800px;
	font-family: 'Raleway', serif;
	font-size: 70px;
	text-align: right;
}

.bold{
	color: rgb(164,25,15);
}

