a{
	text-decoration: none;
	color: rgb(164,25,15);
}



.this{
	position: absolute;
	left: 50px;
	top: -80px;
	font-family: 'Raleway', serif;
	font-size: 700px;
	color: rgb(164,25,15);
}

.sylvia{
	position: absolute;
	left:93px;
	top: 600px;
	width: 1300px;
	font-family: 'Raleway', serif;
	font-size: 50px;
	text-align: left;
	line-height: 100px;
}

.face2{
	position: absolute;
	top: 67px;
	left: 500px;
	opacity: 0;
}

.face2:hover{
	opacity: .5;
	transition: 1s linear;
}

.back{
	position: absolute;
	left: 20px;
	top: 1200px;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}




