/*.excerpt1{
	position: absolute;
	width: 200px;
	color: black;
	left: 20px;
	top: 30px;
	text-align: left;
	font-family: 'Crimson Text', serif;
}

.excerpt2{
	position: absolute;
	width: 200px;
	color: black;
	left: 20px;
	top: 310px;
	text-align: left;
	font-family: 'Crimson Text', serif;
}
*/

a{
	text-decoration: none;
	color: rgb(164,25,15);
}

.yourparis{
	position: absolute;
	color: rgb(164,25,15);
	top: -67px;
	left: 75px;
	font-family: 'Crimson Text', serif;
	font-size: 200px;
}

.teddy{
	position: absolute;
	color: rgb(164,25,15);
	text-decoration-line: 10px;
	font-family: 'Crimson Text', serif;
	font-size: 30px;
	top: 740px;
	left: 1198px;
}

.a1{
	color: rgb(164,25,15);
	font-weight: bold;
}

.a2{
	color: rgb(164,25,15);
	font-weight: bold;
}

.a3{
	color: rgb(164,25,15);
	font-weight: bold;
}

.excerpt3{
	position: absolute;
	width: 250px;
	color: black;
	left: 85px;
	top: 170px;
	text-align: left;
	font-family: 'Crimson Text', serif;
	font-size: 23px;
	height: 68%;
	overflow-x: scroll;
}

.img{
	position: absolute;
	left: 350px;
	top: 170px;
	opacity: 0.5;
}

.hate{
	position: absolute;
	width: 400px;
	color: transparent;
	left: 910px;
	top: 270px;
	text-align: center;
	font-family: 'Crimson Text' serif;
	font-size: 100px;
	height: 40%;
	overflow-x: scroll;

}

.hate:hover{
	color: rgb(164,25,15);
	transition: color 1s linear;
}

.back{
	position: absolute;
	left: 20px;
	top: 790px;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}